
.loadingPage{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 300px;
    
}
.nameContainer{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 90%;
    width: 90%;
    font-size: xx-large;
    letter-spacing: 10px;
    font-size: 1100%;
}
.RamseyJL{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    color: black;
    font-family: SeoulHangang CL;
    white-space: nowrap;
}