
/* .loadingPage{
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
} */
.nameContainer{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100vw;
    height: 90%;
    font-size: xx-large;
    letter-spacing: 10px;
    font-size: 10rem;

}
.RamseyJL{
    display: flex;
    justify-content: center;
    width: 100%;
    
    align-items: center;
    color: black;
    font-family: SeoulHangang CL;
    white-space: nowrap;
}

@media( max-width: 1211px){
    .nameContainer{
        font-size: large;
        font-weight: bolder;
    }
}